.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 0fr);
}

.grid input[type=text] {
  color: black;
  border-radius:10px;
  padding: 4px 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 32px;
}

button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 6px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover{
  background-color: #494747;
}

.interfaceStatus{
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.interfaceDifficulty{
  display: flex;
  justify-content: space-between;
}

.Status{
  font-size: 12;
}